janus/settings.py
janus/__pycache__
optionnelles/migrations
optionnelles/__pycache__
.DS_Store
script_reset_db.py
optionnelles/templatetags/__pycache__/
janus/__init__.py
optionnelles/__init__.py
.vscode/settings.json
janus/__init__.py
optionnelles/__init__.py
*.pyc
janus/.DS_Store
.DS_Store
