
{% extends template_group %}

{% block content %}

<div class="mdl-cell mdl-cell--12-col">
        <a href="/options/inscription_professeur/"> 
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add-button">
                <i class="material-icons">add</i>
        </button>
        </a>
{% if liste_professeur %}
    <table class="js-dynamitable mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
            <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="form-control mdl-textfield__input control-show-nom" type="text" id="nom">
                            <label class="mdl-textfield__label" for="nom">Nom</label>
                          </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-prenom" type="text" id="prenom">
                                <label class="mdl-textfield__label" for="prenom">Prénom</label>
                        </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-statut" type="text" id="statut">
                                <label class="mdl-textfield__label" for="statut">Statut</label>
                        </div>
                    </th>

                </tr>
                <tr class="hide-control">
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-nom" type="text" value="">
                        </th>
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-prenom" type="text" value="">
                        </th>
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-statut" type="text" value="">
                        </th>
                    </tr>
        </thead>
        <tbody>
            {% for e in liste_professeur %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ e.utilisateur.last_name }}
                    </td>
                    <td> {{ e.utilisateur.first_name }} </td>
                    <td>{{ e.statut }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
    <div class="mdl-cell mdl-cell--12-col  card-ue">
        <h5>Aucun professeur n'est disponible</h5>
    </div>>
{% endif %}
</div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

            $(".control-show-nom").on('change keyup paste', function () {
                $(".control-hide-nom").val($(".control-show-nom").val());
                $(".control-hide-nom").change();
            });
            $(".control-show-prenom").on('change keyup paste', function () {
                $(".control-hide-prenom").val($(".control-show-prenom").val());
                $(".control-hide-prenom").change();
            });
            $(".control-show-statut").on('change keyup paste', function () {
                $(".control-hide-statut").val($(".control-show-statut").val());
                $(".control-hide-statut").change();
            });
        });
    </script>
{% endblock %}