
{% extends template_group %}

{% block content %}
<div class='mdl-cell mdl-cell--12-col card-ue'><h5>Choix des options</h5></div>
<div class="mdl-cell mdl-cell--12-col card-chip-etudiant">
{% if liste_etudiant %}
<a href="/options/export_csv/{{ue}}/0" id="btn-valider-ordre" name="accept" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--colored right-btn" >Export CSV</a>
<a id="btn-valider-ordre" name="accept" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--colored right-btn" >Export PDF</a>


    <table class="js-dynamitable mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
            <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="form-control mdl-textfield__input control-show-nom" type="text" id="nom">
                            <label class="mdl-textfield__label" for="nom">Nom</label>
                          </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-prenom" type="text" id="prenom">
                                <label class="mdl-textfield__label" for="prenom">Prénom</label>
                        </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-num" type="text" id="num">
                                <label class="mdl-textfield__label" for="num">Numéro étudiant</label>
                        </div>
                    </th>
                    <th>
                            <i class="js-sorter-desc material-icons">sort</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class=" form-control mdl-textfield__input control-show-parcours" type="text" id="parcours">
                                    <label class="mdl-textfield__label" for="parcours">Parcours</label>
                            </div>
                        </th>
                </tr>
                <tr class="hide-control">
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-nom" type="text" value="">
                        </th>
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-prenom" type="text" value="">
                        </th>
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-num" type="text" value="">
                        </th>
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-parcours" type="text" value="">
                        </th>
                    </tr>
        </thead>
        <tbody>
            {% for e in liste_etudiant %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ e.utilisateur.last_name }}
                    </td>
                    <td> {{ e.utilisateur.first_name }} </td>
                    <td>{{ e.numero_etudiant }} </td>
                    <td> 
                        {% for p in e.parcours.all %}
                        {{ p.nom }} 
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
    <div class="mdl-cell mdl-cell--12-col  card-ue">
        <h5>il n'y a aucun étudiant inscrit dans cette UE</h5>
    </div>>
{% endif %}
</div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

            $(".control-show-nom").on('change keyup paste', function () {
                $(".control-hide-nom").val($(".control-show-nom").val());
                $(".control-hide-nom").change();
            });
            $(".control-show-prenom").on('change keyup paste', function () {
                $(".control-hide-prenom").val($(".control-show-prenom").val());
                $(".control-hide-prenom").change();
            });
            $(".control-show-num").on('change keyup paste', function () {
                $(".control-hide-num").val($(".control-show-num").val());
                $(".control-hide-num").change();
            });
            $(".control-show-parcours").on('change keyup paste', function () {
                $(".control-hide-parcours").val($(".control-show-parcours").val());
                $(".control-hide-parcours").change();
            });
        });
    </script>
{% endblock %}