{% extends "optionnelles/base.html" %}

{% block content %}
{% if user_list %}
    <ul class="mdl-list" style="width:300px;">
    {% for user in user_list %}
        <li class="mdl-list__item">
            
            <span class="mdl-list__item-primary-content">
            <i class="material-icons  mdl-list__item-avatar">person</i>
            <!--<a href="/options/{{ user.id }}/user/"> </a>-->
            {{ user.username }}
            </span>
            
            <span class="mdl-list__item-secondary-action">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-{{user.id}}">
                      <input type="checkbox" id="list-switch-{{user.id}}" class="mdl-switch__input" checked />
                    </label>
            </span>
        </li>
    {% endfor %}
    </ul>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Nom d'utilisateur</th>
                <th>Date</th>
                <th>Administrateur</th>
              </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ user.username }}</td>
                        <td>{{ user.date_joined }}</td>
                        {% if user.is_staff == 1 %}
                        <td>Oui</td>
                        {% else %}
                        <td>Non</td>
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}