
{% extends template_group %}

<!-- AFFICHAGE DES MESSAGES DE RETOUR -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<div class="test-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Donner son avis</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Idée : présenter les options à l'aide de carte et permettre aux étudiants de donner un avis sur le cours (favorable/non + commentaires)
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Voter
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
        </div>
      </div>

<!-- Square card -->
<style>
  .demo-card-square.mdl-card {
    width: 320px;
    height: 50px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
  }
  </style>
  
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">GENERATOR</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lien temporaire vers tout ce qui concerne l'algo d'aggregation des préférences
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="/options/generateur_temp" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        **temp** générer des étudiants
      </a>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="/options/attribution_ues" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        **temp** attribution des ues
      </a>
    </div>
  </div>

{% if user_list %}
<div class="card-test-list mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
    <ul class="mdl-list" style="width:300px;">
    {% for user in user_list %}
        <li class="mdl-list__item">
            
            <span class="mdl-list__item-primary-content">
            <i class="material-icons  mdl-list__item-avatar">person</i>
            <!--<a href="/options/{{ user.id }}/user/"> </a>-->
            {{ user.username }}
            </span>
            
            <span class="mdl-list__item-secondary-action">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-{{user.id}}">
                      <input type="checkbox" id="list-switch-{{user.id}}" class="mdl-switch__input" checked />
                    </label>
            </span>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Valider l'inscription
            </a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">event</i>
          </div>
</div>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Nom d'utilisateur</th>
                <th>Date</th>
                <th>Administrateur</th>
              </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ user.username }}</td>
                        <td>{{ user.date_joined }}</td>
                        {% if user.is_staff == 1 %}
                        <td>Oui</td>
                        {% else %}
                        <td>Non</td>
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}