{% extends "optionnelles/base_unknow.html" %}

{% block content %}
<div class="mdl-tabs__tab-bar">
        <a href="/options/login" class="mdl-tabs__tab">Connexion</a>
        <a href="/options/inscription" class="mdl-tabs__tab is-active">Inscription</a>
        <a href="/options/password_reset" class="mdl-tabs__tab">Mot de passe oublié</a>
    </div>
<div class="mdl-tabs__panel" id="connexion-panel">
    
</div>
<div class="mdl-tabs__panel is-active" id="inscription-panel">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet mdl-cell--12-col-phone">
                <div class="inscription-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">Renseignez vos informations personnelles</h2>
                        </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                {{ form.username }}
                                <label class="mdl-textfield__label" for="{{ form.username.id_for_label }}">Login</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                {{ form.numero_etudiant }}
                            <label class="mdl-textfield__label" for="{{ form.numero_etudiant.id_for_label }}">Numéro étudiant</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                {{ form.nom }}
                            <label class="mdl-textfield__label" for="{{ form.nom.id_for_label }}">Nom</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                {{ form.prenom }}
                            <label class="mdl-textfield__label" for="{{ form.prenom.id_for_label }}">Prenom</label>
                        </div>               
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                {{ form.password }}
                            <label class="mdl-textfield__label" for="{{ form.password.id_for_label }}">Mot de passe</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                {{ form.confirmPassword }}
                            <label class="mdl-textfield__label" for="{{ form.confirmPassword.id_for_label }}">Confirmation</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                {{ form.email }}
                            <label class="mdl-textfield__label" for="{{ form.email.id_for_label }}">Email</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                {{ form.telephone }}
                            <label class="mdl-textfield__label" for="{{ form.telephone.id_for_label }}">Téléphone</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div-parcours" >
                                {{ form.parcours }}
                                <label class="mdl-textfield__label" for="{{ form.parcours.id_for_label }}">Parcours</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div-parcours" >
                                
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="id_ajac">
                                        <span class="mdl-switch__label">AJAC</span>
                                       <!-- <input type="checkbox" id="switch-ajac" class="mdl-switch__input">-->
                                       {{ form.ajac }}
                                </label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="id_redoublant">
                                        <span class="mdl-switch__label">Redoublant</span>
                                        <!--<input type="checkbox" id="switch-redoublant" class="mdl-switch__input">-->
                                        {{ form.redoublant }}
                                </label>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="S'inscrire" />
                        </div>
                        {% if form.non_field_errors %}
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
    </div>
</div>
<div class="mdl-tabs__panel" id="motDePasseOublie-panel">
    
</div>
{% if form.non_field_errors %}
<div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
    </div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
  {% endif %}
{% endblock %}

{% block script %}
{% if form.non_field_errors %}
    <script>
    var msg = $(".mdl-snackbar__text").html();
                        
    document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                var snackbarContainer = document.querySelector('#toast');
                var data = {message: msg};
                snackbarContainer.MaterialSnackbar.showSnackbar(data);
            }, 0);
        });
    </script>
{% endif %}
    <script>
        $(function(){
                $(".mdl-switch__label").css("left","-50px");
                $(".mdl-switch__label").css("color","#757575");
            });
    </script>
{% endblock %}