{% extends "optionnelles/base_unknow.html" %}

{% block content %}
<div class="mdl-tabs__tab-bar">
        <a href="/options/login" class="mdl-tabs__tab">Connexion</a>
        <a href="/options/inscription" class="mdl-tabs__tab is-active">Inscription</a>
        <a href="/options/oubli-mdp" class="mdl-tabs__tab">Mot de passe oublié</a>
    </div>
<div class="mdl-tabs__panel" id="connexion-panel">
    
</div>
<div class="mdl-tabs__panel is-active" id="inscription-panel">
    Inscription
</div>
<div class="mdl-tabs__panel" id="motDePasseOublie-panel">
    
</div>
{% endblock %}