
{% extends template_group %}
{% load options_extras %}
{% block content %}
<div class="mdl-cell mdl-cell--12-col">
    <a href="/options/inscription_admin/"> 
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add-button">
                <i class="material-icons">add</i>
        </button>
    </a>
{% if liste_admin %}
    <table class="js-dynamitable mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
            <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="form-control mdl-textfield__input control-show-nom" type="text" id="nom">
                            <label class="mdl-textfield__label" for="nom">Nom</label>
                          </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-prenom" type="text" id="prenom">
                                <label class="mdl-textfield__label" for="prenom">Prénom</label>
                        </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-email" type="text" id="email">
                                <label class="mdl-textfield__label" for="email">Email</label>
                        </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-username" type="text" id="username">
                                <label class="mdl-textfield__label" for="username">Nom d'utilisateur</label>
                        </div>
                    </th>
                    <th>
                        <i class="js-sorter-desc material-icons">sort</i>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class=" form-control mdl-textfield__input control-show-professeur" type="text" id="professeur">
                                <label class="mdl-textfield__label" for="professeur">Enseignant</label>
                        </div>
                    </th>
                </tr>
                <tr class="hide-control">
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-nom" type="text" value="">
                        </th>
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-prenom" type="text" value="">
                        </th>
                        <th>
                                <input class="js-filter  form-control hide-control control-hide-email" type="text" value="">
                        </th>
                        <th>
                            <input class="js-filter  form-control hide-control control-hide-username" type="text" value="">
                        </th>
                        <th>
                            <input class="js-filter  form-control hide-control control-hide-professeur" type="text" value="">
                        </th>
                    </tr>
        </thead>
        <tbody>
            {% for a in liste_admin %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ a.last_name }}
                    </td>
                    <td> {{ a.first_name }} </td>
                    <td> {{ a.email }}</td>
                    <td><a href="/options/modification_admin/{{ a.id }}/user/">  {{ a.username }} </a></td>
                    {% if a|is_group:"Professeur" %}
                        <td>Oui</td>
                    {% else %}
                        <td>Non</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
    <div class="mdl-cell mdl-cell--12-col  card-ue">
        <h5>Aucun admin n'est renseigné dans l'application</h5>
    </div>>
{% endif %}
</div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

            $(".control-show-nom").on('change keyup paste', function () {
                $(".control-hide-nom").val($(".control-show-nom").val());
                $(".control-hide-nom").change();
            });
            $(".control-show-prenom").on('change keyup paste', function () {
                $(".control-hide-prenom").val($(".control-show-prenom").val());
                $(".control-hide-prenom").change();
            });
            $(".control-show-email").on('change keyup paste', function () {
                $(".control-hide-email").val($(".control-show-email").val());
                $(".control-hide-email").change();
            });
            $(".control-show-username").on('change keyup paste', function () {
                $(".control-hide-username").val($(".control-show-username").val());
                $(".control-hide-username").change();
            });
            $(".control-show-professeur").on('change keyup paste', function () {
                $(".control-hide-professeur").val($(".control-show-professeur").val());
                $(".control-hide-professeur").change();
            });
        });
    </script>
{% endblock %}