{% extends "optionnelles/base_unknow.html" %}

{% block content %}
<div class="mdl-tabs__tab-bar">
        <a href="/options/login" class="mdl-tabs__tab is-active">Connexion</a>
        <a href="/options/inscription" class="mdl-tabs__tab">Inscription</a>
        <a href="/options/oubli-mdp" class="mdl-tabs__tab">Mot de passe oublié</a>
    </div>
<div class="mdl-tabs__panel is-active" id="connexion-panel">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--10-col-tablet mdl-cell--12-col-phone">
              <div class="connexion-card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Renseignez vos identifiants</h2>
                    </div>
                <form action="" method="post">
                    {% csrf_token %}
                    
                    <div id="div-login" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.username }}
                            <label class="mdl-textfield__label" for="{{ form.username.id_for_label }}">Login</label>
                    </div>
                    <div id="div-password" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                            {{ form.password }}
                            <label class="mdl-textfield__label" for="{{ form.password.id_for_label }}">Mot de passe</label>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Se connecter" />
                    </div>
                </form>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
        </div>
</div>
<div class="mdl-tabs__panel" id="inscription-panel">

</div>
<div class="mdl-tabs__panel" id="motDePasseOublie-panel">
    
</div>

{% endblock %}