{% extends "optionnelles/base.html" %}
{% block sidebar %}
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">home</i>Accueil</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">inbox</i>Inscriptions</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">delete</i>Groupes</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">report</i>Nouvel admin</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">report</i>Professeurs</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">inbox</i>Mes cours</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">delete</i>Emargement</a>
{% endblock %}