{% extends "optionnelles/base.html" %}
{% block sidebar %}
<a class="mdl-navigation__link" href="/options/"><i class="material-icons" role="presentation">home</i>Accueil</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">assignment_turned_in</i>Mes cours</a>
<a class="mdl-navigation__link" href="/options/choix_options/"><i class="material-icons" role="presentation">assignment</i>Choix d'option</a>
<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">report</i>Vote</a>
{% endblock %}