
{% extends template_group %}

{% block content %}
<div class="mdl-shadow--2dp micro-card-menu ">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">view_comfy</i>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">format_align_justify</i>
            </div>
        </div>  
        
</div>
{% if liste_etudiant %}
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Nom</th>
                <th>Prenom</th>
                <th>Identifiant</th>
                <th>Parcours</th>
            </tr>
        </thead>
        <tbody>
            {% for e in liste_etudiant %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ e.utilisateur.last_name }}
                    </td>
                    <td> {{ e.utilisateur.first_name }} </td>
                    <td><a href="/options/validation_inscription/{{ e.numero_etudiant }}/user/"> {{ e.numero_etudiant }} </a></td>
                    <td> 
                        {% for p in e.parcours.all %}
                        {{ p.nom }} 
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}