
{% extends template_group %}

{% block content %}
<div class="mdl-shadow--2dp micro-card-menu ">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">view_comfy</i>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">format_align_justify</i>
            </div>
        </div>  
        
</div>
{% if liste_etudiant %}
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Identifiant</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Parcours</th>
                </tr>
            </thead>
            <tbody>
                {% for e in liste_etudiant %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"> {{ e.numero_etudiant }} </td>
                        <td> {{ e.prenom }} </td>
                        <td> {{ e.nom }} </td>
                        <td> 
                            {% for p in e.parcours.all %}
                            {{ p.nom }} 
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}