
{% extends template_group %}

{% block content %}
<!-- 
    <div class="mdl-shadow--2dp micro-card-menu ">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">view_comfy</i>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">format_align_justify</i>
            </div>
        </div>         
    </div>
-->
{% if etudiant %}
    <div class="mdl-tabs__panel is-active">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet mdl-cell--12-col-phone">
                    <div class="inscription-card mdl-card mdl-shadow--2dp inscription-professeur-card">
                            <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Informations sur l'étudiant :</h2>
                            </div>
                        <form action="/options/validation_inscription/{{ etudiant.numero_etudiant }}/end/" method="post">
                            {% csrf_token %}
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                    {{ form.numero_etudiant }}
                                <label class="mdl-textfield__label" for="{{ form.numero_etudiant.id_for_label }}">Numéro étudiant</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                    {{ form.nom }}
                                <label class="mdl-textfield__label" for="{{ form.nom.id_for_label }}">Nom</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                    {{ form.prenom }}
                                <label class="mdl-textfield__label" for="{{ form.prenom.id_for_label }}">Prenom</label>
                            </div>               
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                    {{ form.email }}
                                <label class="mdl-textfield__label" for="{{ form.email.id_for_label }}">Email</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                    {{ form.telephone }}
                                <label class="mdl-textfield__label" for="{{ form.telephone.id_for_label }}">Téléphone</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div-parcours" >
                                    {{ form.parcours }}
                                    <label class="mdl-textfield__label" for="{{ form.parcours.id_for_label }}">Parcours</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div-parcours" >
                                    
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="id_ajac">
                                            <span class="mdl-switch__label">AJAC</span>
                                        <!-- <input type="checkbox" id="switch-ajac" class="mdl-switch__input">-->
                                        {{ form.ajac }}
                                    </label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="id_redoublant">
                                            <span class="mdl-switch__label">Redoublant</span>
                                            <!--<input type="checkbox" id="switch-redoublant" class="mdl-switch__input">-->
                                            {{ form.redoublant }}
                                    </label>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <input type="submit" name="refus" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--colored" value="Refuser" />
                                <input type="submit" name="accept" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--colored" value="Valider inscription" />
                            </div>
                        </form>
                    </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
    </div>
{% else %}
    <p>Vous n'avez aucun étudiant en attente de validation.</p>
{% endif %}

{% endblock %}