{% extends "optionnelles/base_unknow.html" %}

{% block content %}
<div class="mdl-tabs__tab-bar">
        <a href="/options/login" class="mdl-tabs__tab">Connexion</a>
        <a href="/options/inscription" class="mdl-tabs__tab">Inscription</a>
        <a href="/options/password_reset" class="mdl-tabs__tab is-active">Mot de passe oublié</a>
    </div>

<div class="mdl-tabs__panel" id="connexion-panel">
    
</div>
<div class="mdl-tabs__panel" id="inscription-panel">

</div>
<div class="mdl-tabs__panel is-active" id="motDePasseOublie-panel">
        <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--10-col-tablet mdl-cell--12-col-phone">
                  <div class="mpoublie-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">Changement de mot de passe</h2>
                        </div>
                        {% if validlink %}
                        <form method="post">
                          <div id="div-login" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit">Valider</button>
                          </div>
                        </form>
                        {% else %}
                        <div class="mdl-card__supporting-text">
                          Le lien de changement de mot de passe n'est pas valide.
                        </div>
                        {% endif %}
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--0-col-phone"></div>
        </div>    
</div>
{% endblock %}