{% extends template_group %}

{% block content %}
<div class="mdl-shadow--2dp micro-card-menu ">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">view_comfy</i>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
                    <i class="material-icons">format_align_justify</i>
            </div>
        </div>  
        
</div>
<div class="mdl-cell mdl-cell--12-col">
{% if liste_ue %}

    <table class="js-dynamitable mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="table_ue">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    <i class="js-sorter-desc material-icons">sort</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="form-control mdl-textfield__input control-show-nom" type="text" id="nom">
                        <label class="mdl-textfield__label" for="nom">Nom</label>
                      </div>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    <i class="js-sorter-desc material-icons">sort</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="form-control mdl-textfield__input control-show-numUE" type="text" id="numUE">
                        <label class="mdl-textfield__label" for="numUE">Numéro UE</label>
                      </div>
                </th>
                <th>
                    <i class="js-sorter-desc material-icons">sort</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class=" form-control mdl-textfield__input control-show-groupe" type="text" id="groupe">
                            <label class="mdl-textfield__label" for="groupe">Groupes</label>
                    </div>
                </th>
                <th>
                    <i class="js-sorter-desc material-icons">sort</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class=" form-control mdl-textfield__input control-show-pole" type="text" id="pole">
                            <label class="mdl-textfield__label" for="pole">Pôles</label>
                    </div>
                </th>

            </tr>
            <tr class="hide-control">
                    <th>
                            <input class="js-filter  form-control control-hide-nom" type="text" value="">
                    </th>
                    <th>
                            <input class="js-filter  form-control control-hide-numUE" type="text" value="">
                    </th>
                    <th>
                            <input class="js-filter  form-control control-hide-groupe" type="text" value="">
                    </th>
                    <th>
                            <input class="js-filter  form-control control-hide-pole" type="text" value="">
                    </th>
                    
                </tr>

        </thead>
        <tbody>
            {% for e in liste_ue %}
            
                <tr>
                        
                    <td class="mdl-data-table__cell--non-numeric">
                            <a href="/options/selection_groupe/{{ e.id }}/">  {{ e.nom }} </a>
                    </td>
                    <td> {{ e.num_UE }} </td>
                    <td> {{ e.nombre_groupes }} </td>
                    <td> 
                        {% for p in e.poles.all %}
                        {{ p.parcours.nom.strip }} / {{ p.nom.strip }} <br/>
                        {% endfor %}
                    </td>
                
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
<div class="mdl-cell mdl-cell--12-col card-ue">
        <h5>Aucune UE n'est disponible.</h5>
</div>
    
{% endif %}
</div>
{% endblock %}


{% block script %}
    <script>
        $(function(){

            $(".control-show-nom").on('change keyup paste', function () {
                $(".control-hide-nom").val($(".control-show-nom").val());
                $(".control-hide-nom").change();
            });
            $(".control-show-numUE").on('change keyup paste', function () {
                $(".control-hide-numUE").val($(".control-show-numUE").val());
                $(".control-hide-numUE").change();
            });
            $(".control-show-groupe").on('change keyup paste', function () {
                $(".control-hide-groupe").val($(".control-show-groupe").val());
                $(".control-hide-groupe").change();
            });
            $(".control-show-pole").on('change keyup paste', function () {
                $(".control-hide-pole").val($(".control-show-pole").val());
                $(".control-hide-pole").change();
            });
        });
    </script>
{% endblock %}